@import '../../css/custom.css';

.accordion {
    border: 1px solid var(--ifm-color-primary-lightest);
    border-radius: 5px;
}

.title {
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 1rem 1rem 0 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrow {
    color: var(--ifm-color-primary-lightest);

    .open {
        transform: rotate(180deg); /* Rotate the arrow when open */
        transition: transform 200ms ease-in-out !important;
    }

    .closed {
        transition: transform 200ms ease-in-out !important;
    }
}

.content {
    padding: 1rem;
}
